<!-- src/app/components/navbar/navbar.component.html -->
<nav class="navbar navbar-expand-lg bg-dark shadow-sm">
  <div class="container">
    <!-- Logo futuriste -->
    <a class="navbar-brand fw-bold text-light" href="#" style="font-family: 'Orbitron', sans-serif; letter-spacing: 2px;">
      CarRental
    </a>

    <!-- Bouton pour mobile -->
    <button class="navbar-toggler text-light border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu de la navbar -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-light fw-semibold hover-effect" routerLink="/" aria-current="page">Accueil</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link text-light fw-semibold hover-effect" routerLink="/cars">Nos voitures</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link text-light fw-semibold hover-effect" routerLink="/about">À propos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
